* {
  box-sizing: border-box;
}

body {
  background-image: url(/assets/exposition.jpg);
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  background-position: center; /* Centers the background image */
  font-family: "Rubik", sans-serif;
}

#body-index {
  background-image: url(/assets/exposition.jpg);
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  background-position: center; /* Centers the background image */
  font-family: "Rubik", sans-serif;
  margin: 40px;
}

#body-plot {
  background-image: url(/assets/lyra.png);
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  background-position: center; /* Centers the background image */
  font-family: "Rubik", sans-serif;
  margin: 40px;
}

* {
  box-sizing: border-box;
}

img {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Rubik", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  padding: 20px;
}

.quote {
  padding-left: 25px;
}

.line {
  border: none; /* Remove default border */
  border-top: 2px solid #000; /* Set the top border to create the line */
  width: 100%; /* Ensure the line spans the full width of the parent div */
}

.navbar {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  width: 100%; /* Ensure it spans the full width */
  background-color: rgb(255, 255, 255); 
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.navbar a {
  padding: 10px;
  font-size: small;
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar #hamburger {
  display: none;
}

.row {
  display: flex;
  font-family: "Rubik", sans-serif;
  border-radius: 100px;
  flex-direction: row;
}

.side {
  background-color: rgba(245, 209, 176, 0.8117647059);
  padding: 25px;
  border-top-left-radius: 10px;
  max-width: 100%;
}

.facts {
  align-items: center;
  margin-bottom: 0.5em;
}

.facts p {
  margin-top: 0.25em;
}

.main {
  flex: 90%;
  background-color: rgba(255, 255, 255, 0.909);
  border-top-right-radius: 10px;
}

.main h1 {
  border-top: black;
}

.main p {
  line-height: 2;
}

.main a {
  color: rgb(0, 88, 139);
  text-decoration: none;
}

.wrap-image, .main p, .main h1, .line {
  margin: 10px;
}

.line {
  border-top: 2px solid darkgray; /* Create the line using the top border */
  width: auto;
}

img {
  height: 50px;
  width: 50px;
}

.wrap-image {
  float: right; /* Ensures the image floats to the left */
  width: 200px; /* Set the desired width */
  height: auto; /* Ensures the image maintains its aspect ratio */
  padding: 0;
  border-radius: 20px;
}

h3 {
  position: relative;
  margin-left: 40px;
}

h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  background-image: url(../assets/sprites.png);
  background-position: -1px -151px;
  width: 15px;
  height: 18px;
  background-size: auto;
  transform: translate(-50%, -50%) scale(0.3);
}

hr {
  margin: auto;
}

img {
  height: 50px;
  width: 50px;
}

.footer {
  display: block;
  background-color: rgba(245, 209, 176, 0.8117647059);
  width: 100%;
  text-align: center;
}

.header {
  font-family: "Rubik", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin: 0; /* Keeps margin at 0 to avoid default browser margins */
  text-align: center;
  padding: 20px;
}

.quote {
  padding-left: 25px;
}

.line {
  border: none; /* Remove default border */
  border-top: 2px solid #000; /* Set the top border to create the line */
  width: 100%; /* Ensure the line spans the full width of the parent div */
}

.flex-container {
  display: flex;
}

.navbar a, .navbar div {
  padding: 10px;
  font-size: small;
}

.navbar a:hover, .main a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar a:first-child {
  border-radius: 5px 0px 0px 5px;
}

.navbar a:last-child {
  border-radius: 0px 5px 5px 0px;
}

.row {
  display: flex;
  font-family: "Rubik", sans-serif;
  border-radius: 100px;
}

.side h3 {
  margin: 20px, 20px;
  margin: 0;
}

.main {
  flex: 90%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.909);
  border-top-right-radius: 10px;
}

.main h1 {
  border-top: black;
}

.main p {
  line-height: 2;
}

.wrap-image, .main p, .main h1, .line {
  margin: 25px;
}

.line {
  border-top: 2px solid darkgray; /* Create the line using the top border */
  width: auto;
}

img {
  height: 50px;
  width: 50px;
}

.wrap-image {
  float: right; /* Ensures the image floats to the left */
  width: 200px; /* Set the desired width */
  height: auto; /* Ensures the image maintains its aspect ratio */
  padding: 0;
  margin-left: 10px;
}

h3 {
  position: relative;
  margin-left: 40px;
}

h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  background-image: url(../assets/sprites.png);
  background-position: -1px -151px;
  width: 15px;
  height: 18px;
  background-size: auto;
  transform: translate(-50%, -50%) scale(0.3);
}

hr {
  margin: auto;
}

@media (max-width: 741px) {
  * {
    border-radius: 0%;
  }
  body {
    margin: 0 !important;
  }
  .line {
    width: 100%;
    max-width: calc(100% - 50px); /* Adjust padding here */
    margin: 20px; /* Center horizontally */
  }
  .content {
    margin: 0;
    align-items: center;
    width: 100%;
  }
  .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .side {
    justify-content: center;
    align-items: center;
  }
  .main img {
    display: none;
  }
  .main, .side {
    width: 100%; /* Set width to 100% to ensure both stack and have the same width */
    border-radius: 0%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    align-items: center;
    justify-content: left;
    border-radius: 0;
    position: fixed !important;
    z-index: 4;
  }
  #hamburger {
    display: block !important;
    position: absolute;
    right: 10%;
    padding: 10px;
    cursor: pointer;
    height: 1em;
    transform: scale(1.5);
  }
  #hamburger p{
    margin: 0;
    padding: 1px !important;
    line-height: .5px;
    transform: scalex(2);
    height: 100%;
  }


  .navbar a:not(#home-button):not(#hamburger) {
    display: none;
  }
  .navbar a.show {
    display: flex !important;
  }
  .side p {
    margin: auto;
  }
  .navbar a {
    background-color: transparent;
    color: black;
    display: flex;
  }
  .footer {
    display: flex;
    flex-direction: row !important;
  }
  .footer p {
    align-items: center;
  }
  .facts {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    gap: 10px;
  }
}